:root {
  --oui-font-family: 'Roboto', sans-serif;
  --oui-font-size-base: 13px;

  /* colors */
  --oui-color-primary: 88 53 169;
  --oui-color-primary-light: 123 85 206;
  --oui-color-primary-darken: 69 31 148;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 66 102 245;
  --oui-color-link-light: 79 197 248;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 226 0 240;
  --oui-color-danger-darken: 187 16 229;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 2 175 227;
  --oui-color-success-darken: 50 134 223;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 137 69 226;
  --oui-color-warning-darken: 99 73 212;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 36 32 47;
  --oui-color-fill-active: 40 46 58;

  --oui-color-base-1: 93 83 123;
  --oui-color-base-2: 83 73 113;
  --oui-color-base-3: 73 63 103;
  --oui-color-base-4: 63 53 93;
  --oui-color-base-5: 56 49 81;
  --oui-color-base-6: 48 42 69;
  --oui-color-base-7: 75 62 117;
  --oui-color-base-8: 39 35 66;
  --oui-color-base-9: 29 26 38;
  --oui-color-base-10: 14 13 18;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 252 71 99;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 88 53 169;
  --oui-gradient-primary-end: 79 197 248;

  --oui-gradient-secondary-start: 120 81 210;
  --oui-gradient-secondary-end: 210 141 255;

  --oui-gradient-success-start: 0 200 100;
  --oui-gradient-success-end: 84 255 159;

  --oui-gradient-danger-start: 255 0 100;
  --oui-gradient-danger-end: 255 0 128;

  --oui-gradient-brand-start: 123 85 206;
  --oui-gradient-brand-end: 249 139 255;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 200 150 0;
  --oui-gradient-warning-end: 255 191 0;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 11px;
  --oui-rounded: 12px;
  --oui-rounded-md: 11px;
  --oui-rounded-lg: 12px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 19.5rem;
  --oui-spacing-sm: 19rem;
  --oui-spacing-md: 21.5rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 34rem;
}

html, body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 13px !important;
}